/* global */
html {
	height:100%;
} 

body {
    padding-top: 70px;
    height:100%;
    min-height:100%;
    background-color: #ededed;
    position: relative;
}

.content-wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
}

.content-container,
.form-container {
    width: 600px;
    position: relative;
    display: block;
}

.footer {
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #4D4D4D;
    font-size: 12px;
    text-align: center;
}

.footer a {
    margin-left: 7px;
    cursor: pointer;
}

.form-container .form-title {
    font-size: 22px;
    font-weight: bold; 
    margin-bottom: 20px;
}

.form-container .form-row {
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
}

.form-container .form-row.bottom-border {
    padding-bottom: 10px;
    border-bottom: 1px solid #AAA;
}

.form-container .form-row label {
    width: 140px;
    font-weight: normal;
    padding-top: 4px;
    margin-right: 10px;
    float: left;
    color: #4D4D4D;
}

.form-container .form-row .required-field-label {
    font-weight: bold;
}

.form-container .form-row input {
    width: 440px;
    height: 30px;
    display: inline-block;
}

.form-container .form-row .select-picture {
    width: 270px;
    margin-top: 5px;
    margin-left: 30px;
    float: right;
}

.form-container .form-row .select-picture input {
    width: 250px;
    margin-bottom: 10px;
}

.form-container .form-row .select-picture span {
    width: 250px;
}

.form-container .form-row  div.error {
    width: 400px;
    min-height: 35px;
    padding: 7px 17px;
    margin-top: 7px;
    margin-left: 150px;
    margin-bottom: 5px;
}

.form-container .form-row select {
    min-width: 100px;
    height: 30px;
    color: #555;
    line-height: 1.42857;
    padding: 4px 9px;
}

.form-container .form-row select option {
    color: #555;
    line-height: 1.42857;
    padding: 4px 9px;
}

.form-container .form-buttons {
    text-align: right;
    margin-top: 20px; 
    border-top: 1px solid #AAA;
}

.form-container .form-row .form-buttons {
    margin-top: 0;
    border-top: 0;
} 

.form-container .form-row .form-buttons button {
    margin: 0px 10px 5px 0px; 
}

.form-container .select-picture .form-buttons {
    border-top: 0px;
    margin-top: 20px;
}

.form-container .form-buttons button {
    min-width: 100px;
    margin: 10px 15px 10px 10px;
}

.form-container .select-picture .form-buttons button {
    margin: 0px 10px 5px 0px;
}

.feed-logo {
    width: 200px;
    height: 120px;
    opacity: 1;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid #AAA;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

a.action-icon:focus,
.action-icon {
    font-size: 20px;
    cursor: pointer;
    color: #5E5E5E;
    text-decoration: none;
}

.action-link {
    cursor: pointer;
    color: #5E5E5E;
}

.action-link:hover,
.action-icon:hover {
    color: #26b3ff;
    text-decoration: none;
}

.action-icon-blocked {
    color: #26b3ff;
}

.action-icon-blocked:hover {
    color: #ff3e32;
}

.float-left {
    float: left;
}

.float-right .action-link,
.float-left .action-icon {
    margin-right: 10px;
}

.float-right {
    float: right;
}

.float-right .action-link,
.float-right .action-icon {
    margin-left: 10px;
}

.show-more-button {
	width: 50%;
	margin: 15px auto 0px auto;
	position: relative;
	display: block;
	text-align: center;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    color: #3d3d3d;
}

.show-more-button:hover {
    color: #26b3ff;
}

.loading-indicator {
    background-image: url(../img/loading.gif);
    width: 206px;
    height: 130px;
    margin: 0 auto;
    color: #777;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
/*************************************************************************************************/


/* sortable */
.sortable li {
    list-style: none;
}

li.sortable-placeholder {
    list-style: outside none none;
    border: 1px dashed #CCC;
    background: none;
    margin-bottom: 5px;
    height: 30px;
}
/*************************************************************************************************/


/* header */
.navbar-default {
    border-color: #C4C4C4;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-nav .action-icon {
	position: relative;
	display: block;
	padding: 15px 15px;
	color: #777;
}

.user-panel {
    position: relative;
    display: block;
    color: #777;
    font-weight: bold;
    margin-left: 15px;
    padding-right: 15px;
}

.user-panel span {
    position: relative;
    display: inline-block;
    padding: 15px;
}

.user-panel .user-picture {
    float: right;
    margin: 6px 0px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.navbar-default .navbar-nav > li:hover, 
.navbar-default .navbar-nav > li:focus,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > span:hover, 
.navbar-default .navbar-nav > li > span:focus, 
.navbar-default .navbar-nav > li > div:hover, 
.navbar-default .navbar-nav > li > div:focus, 
.navbar-default .navbar-nav > li.action-icon:hover, 
.navbar-default .navbar-nav > li.action-icon:focus,
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #26b3ff;
    text-decoration: none;
}

.navbar-default .navbar-nav > .open > span, 
.navbar-default .navbar-nav > .open > span:focus, 
.navbar-default .navbar-nav > .open > span:hover,
.navbar-default .navbar-nav > .open > div, 
.navbar-default .navbar-nav > .open > div:focus, 
.navbar-default .navbar-nav > .open > div:hover {
    color: #26b3ff;
    background-color: #EBEBEB;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #EBEBEB;
    border: 1px solid #C4C4C4;
    min-width: 200px;
}
.navbar-nav > li > .dropdown-menu.user-panel-menu {
    min-width: 170px;
}

.navbar-nav > li > .dropdown-menu > li {
    padding: 2px 25px;
    color: #3d3d3d;
    font-size: 14px;
    line-height: 1.25;
    cursor: pointer;
}

.navbar-nav > li > .dropdown-menu.user-panel-menu > li {
    padding: 0;
}

.navbar-nav > li > .dropdown-menu > li > a {
    padding: 7px 15px;
}

.navbar-nav > li > .dropdown-menu > li:focus,
.navbar-nav > li > .dropdown-menu > li:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus,
.navbar-nav > li > .dropdown-menu > li > a:hover {
    background-color: #D2D2D2;
}

.navbar-nav > li > .dropdown-menu li.selected {
    color: #26b3ff;
}

.navbar-nav > li > .dropdown-menu li.dropdown-header {
    font-weight: bold;
    margin-top: 5px;
    padding: 2px 15px;
    cursor: default;
}

.navbar-nav > li > .dropdown-menu li.dropdown-header:focus,
.navbar-nav > li > .dropdown-menu li.dropdown-header:hover {
    background-color: #EBEBEB;
}

.navbar-source {
    margin-left: 8px;
}

.navbar-source li {
	padding: 14px 5px 14px 10px;
	font-size: 15px;
	font-weight: bold;
	color: #3D3D3D;
	cursor: pointer;
}

/*************************************************************************************************/


/* feed list */
.feed-list .item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    overflow: hidden;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    color: #3d3d3d;
}

.feed-list .item:hover {
    border-color: #26B3FF;
    background-color: #ebf4f2;
    border: 1px solid #26B3FF;
    overflow: hidden;
    box-shadow: 0.4em 0.4em 7px rgba(100,100,100,0.9);
}

.feed-list .item .feed-logo {
    float: left;
    margin-right: 15px;
}

.feed-list .item .name {
    height: 25px;
    font-weight: bold;
}

.feed-list .item .name a {
    color: #3d3d3d;
    cursor: pointer;
    text-decoration: none;
}

.feed-list .item .name a:hover,
.feed-list .item .name a:focus {
    color: #26b3ff;
}

.feed-list .item .description {
    height: 75px;
    overflow: hidden;
}

.feed-list .item .action-links {
    float: right;
    margin-right: 5px;
}

.feed-list .item .action-links span:hover {
    cursor: pointer;
    color: #26b3ff;
}
/*************************************************************************************************/


/* index view */
.index-container {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.index-container .welcome-panel {
	width: 500px;
	height: 400px;
	float: left;
    padding: 0px 20px;
    background-color: #ffffff;
    border: 1px solid #E1E8ED;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.index-container .login-form {
    width: 275px;
    float: right;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #E1E8ED;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.index-container .login-form input {
	margin-bottom: 10px;
}

.index-container .login-form button {
    margin-bottom: 10px;
}

.index-container .login-form .error {
    height: 35px;
    padding: 7px 15px;
}
/*************************************************************************************************/



/* register view */
.form-container .form-row .user-picture {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
/*************************************************************************************************/



/* source list view */
#new-feed-source-form input {
	margin-top: 15px;
	width: 490px;
    height: 35px;
    font-size: 16px;
    display: inline-block;
}

#new-feed-source-form button {
	width: 100px;
	height: 33px;
    font-size: 15px;
    font-weight: bold;
	margin-top: -3px;
	margin-left: 5px;
	text-align: center;
}

#new-feed-source-form .error {
	margin-left: 0px;
}
/*************************************************************************************************/


/* edit view */
.not-found-alert {
	margin-top: 35px;
	font-size: 24px;
}

.not-found-alert span {
    font-weight: bold;
}

#edit-feed-source-form label {
    width: 100px;
}

#edit-feed-source-form input {
	width: 480px;
}

#edit-feed-source-form textarea {
    width: 480px;
    height: 74px;
    min-height: 52px;
    resize: vertical;
    display: inline-block;
}

#edit-feed-source-form div.error {
    margin-left: 110px;
}
/*************************************************************************************************/


/* feed view */
.feed-container {
    margin-top: 10px;
    margin-left: 15%;
    width: 70%;
    min-width: 380px;
    float: left;
}

.feed-container.narrow {
    margin-left: 0;
    width: 50%;
}

.feed-panel .alert-warning,
.feed-container .alert-warning {
    width: 100%;
    position: relative;
    display: block;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.feed-item-list .item {
    cursor: pointer;
}

.feed-item-list.compact .item .feed-logo {
    display: none;
}

.feed-item-list .item .feed-content {
    line-height: 16px;
}

.feed-item-list .item .feed-info {
    height: 100px;
    overflow: hidden;
}

.feed-item-list.compact .item .feed-info {
    height: 15px;
}

.feed-item-list .item .title {
    margin-bottom: 5px;
	font-weight: bold;
}

.feed-item-list .item.viewed .title {
    font-weight: normal;
}

.feed-item-list.compact .item .title {
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-item-list .item .summary {
    color: #5E5E5E;
}

.feed-item-list.compact .item .summary {
    display: none;
}

.feed-item-list .item .pub-info {
	margin-top: 5px;
}

.feed-item-list .item .pub-info span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    float: left;
}

.feed-item-list .item .pub-info .published-date,
.feed-item-list .item .pub-info .source-name {
    max-width: 150px;
}

.feed-item-list.compact .item .pub-info .source-name {
    max-width: 250px;
}


.feed-tab-list .feed-tab {
    cursor: pointer;
    height: 30px;
    margin-bottom: 5px;
    background-color: #ebebeb;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.feed-tab-list .feed-tab:hover {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: 1px solid #26b3ff;
    box-shadow: 0 0 3px rgba(38,179,255,0.5);
}

.feed-tab-list .feed-tab .feed-tab-text {
	width: 100%;
    padding: 4px 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	float: left;
	display: inline;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.feed-tab-list .feed-tab .feed-tab-text .source-name {
	max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    float: left;
    display: inline;
}

.feed-tab-list .feed-tab .feed-tab-text .title {
    display: inline;
}

.feed-tab-list .feed-tab .remove-action-icon {
	height: 100%;
	float: right;
	padding: 6px;
	display: none;
}

.feed-tab-list .feed-tab .remove-action-icon:hover {
    color: #ff3e32;
}


.feed-panel {
    height: 87%;
    width: 70%;
    left: 15%;
    min-width: 480px;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    position: fixed;
    display: block;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    color: #3D3D3D;
    z-index: 20;
    transition: opacity 0.15s linear 0s;
}

.feed-panel.pinned-panel {
    margin-top: 10px;
    width: 550px;
    height: 80%;
    position: fixed;
    left: 50%;
    margin-left: 20px;
}

.panel-backdrop {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    transition: opacity 0.15s linear 0s;
}

.feed-panel .panel-header {
    height: 40px;
    padding: 10px 12px;
    margin-bottom: 5px;
    background-color: #d2d2d2;
    border-bottom: 1px solid #c4c4c4;
}

.feed-panel .panel-content {
    padding: 10px;
    height: 90%;
    overflow: auto;
    display: block;
}

.feed-details-panel .pub-info {
    height: 25px;
    border-bottom: 1px solid #d0cccc;
    color: #5E5E5E;
}

.feed-details-panel .pub-info span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    float: left;
}

.feed-details-panel .pub-info .source-name {
    max-width: 220px;
}

.feed-details-panel .pub-info .author {
    max-width: 180px;
}

.feed-details-panel .pub-info .published-date {
    max-width: 145px;
}

.feed-details-panel .pub-info .source-name a {
    text-decoration: none;
    color: #5E5E5E;
}

.feed-details-panel .pub-info .source-name a:hover,
.feed-details-panel .pub-info .source-name a:focus {
    cursor: pointer;
    color: #26B3FF;
}

.feed-details-panel .title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
}

.feed-details-panel .description img {
    max-width: 100%;
    padding: 5px;
    display: block;
}
/*************************************************************************************************/

