html {
	height:100%;
} 

body {
    padding-top: 70px;
    height:100%;
    background-color: #ededed;
}


.content-container {
    width: 600px;
    position: relative;
    display: block; 
}

.form-container {
    width: 600px;
    position: relative;
    display: block;
}

.form-container .form-title {
    font-size: 24px;
    font-weight: bold; 
    margin-bottom: 15px;
}

.form-container .form-row {
    margin-bottom: 15px;
}

.form-container .form-row label {
    width: 140px;
    font-weight: normal;
    padding-top: 4px;
    margin-right: 10px;
    float: left;
    color: #6D6D6D;
}

.form-container .form-row .required-field-label {
    font-weight: bold;
}

.form-container .form-row input {
    width: 440px;
    height: 30px;
    display: inline-block;
}

.form-container .form-row  div.error {
    width: 400px;
    height: 35px;
    padding: 7px 15px;
    margin-top: 7px;
    margin-left: 150px;
}

.form-container .form-buttons {
    text-align: right;
    margin-top: 20px; 
    border-top: 1px solid #AAA;
}

.form-container .form-buttons button {
    width: 100px;
    margin: 10px 15px 10px 10px;
}

.feed-logo {
    width: 200px;
    height: 120px;
    opacity: 1;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid #AAA;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

/*************************************************************************************************/



/* index view */
.index-container {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.index-container .welcome-panel {
	width: 500px;
	height: 400px;
	float: left;
    padding: 0px 20px;
    background-color: #ffffff;
    border: 1px solid #E1E8ED;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.index-container .login-form {
    width: 275px;
    float: right;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #E1E8ED;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.index-container .login-form input {
	margin-bottom: 10px;
}

.index-container .login-form button {
    margin-bottom: 10px;
}

.index-container .login-form .error {
    height: 35px;
    padding: 7px 15px;
}
/*************************************************************************************************/



/* register view */
.form-container .form-row .user-picture {
    width: 180px;
    height: 150px;
    opacity: 1;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid #AAA;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
/*************************************************************************************************/



/* list view */
.new-feed-source-form {
	margin-top: 35px;
	margin-bottom: 35px;
}

.new-feed-source-form .error {
    width: 250px;
    height: 35px;
    padding: 7px 15px;
}

.new-feed-source-form input {
	width: 530px;
    height: 30px;
    display: inline-block;
}

.new-feed-source-form button {
	width: 58px;
	height: 28px;
	margin-top: -2px;
	margin-left: 7px;
}

.feed-source-list {
	margin-top: 50px;
}

.feed-source-list .item {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;	
}

.feed-source-list .item .feed-logo {
	float: left;
	margin-right: 15px;
}

.feed-source-list .item .name {
    height: 25px;
    font-weight: bold;
}

.feed-source-list .item .name span {
    cursor: pointer;
}

.feed-source-list .item .name span:hover {
    color: #88B;
}

.feed-source-list .item .description {
	height: 75px;
	overflow: hidden;
}

.feed-source-list .item .action-links {
	float: right;
	margin-right: 20px;
}

.action-links span {
    cursor: pointer;
    color: #6DA3BD;
}
/*************************************************************************************************/



/* edit view */
.not-found-alert {
	margin-top: 35px;
	font-size: 24px;
}

.not-found-alert span {
    font-weight: bold;
}

.edit-feed-source-form {
	margin-top: 35px;
    margin-bottom: 35px;
}

.edit-feed-source-form label {
    width: 100px;
    font-weight: normal;
    padding-top: 4px;
    margin-right: 10px;
    float: left;
}

.edit-feed-source-form input {
	width: 480px;
	height: 30px;
    display: inline-block;
}

.edit-feed-source-form textarea {
    width: 480px;
    height: 74px;
    min-height: 52px;
    resize: vertical;
    display: inline-block;
}
/*************************************************************************************************/



/* feed view */
.feed-container {
}

.feed-item-list {
	width: 50%;
	min-width: 380px;
    float: left;
}

.feed-item-list .item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C1C1C1;
    overflow: hidden;
}

.feed-item-list .item .feed-logo {
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.feed-item-list .item .feed-content {
    line-height: 16px;
}


.feed-item-list .item .feed-info {
    height: 100px;
    overflow: hidden;
}

.feed-item-list .item .title {
    margin-bottom: 5px;
	font-weight: bold;
}

.feed-item-list .item .title span {
    cursor: pointer;
}

.feed-item-list .item .title span:hover {
    color: #88B;
}

.feed-item-list .item .summary {
    color: #5E5E5E;
}

.feed-item-list .item .pub-info {
	margin-top: 5px;
	color: #3A3A3A;
}

.feed-tab-list {
	width: 550px;
    height: 85%;
    position: fixed;
    right: 100px;
    border: 1px solid #AAA;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: #F5FFFA;
}
/*************************************************************************************************/



.feed-tab {
	
}
/*************************************************************************************************/


